.create-ficha {
  padding: 20px;
}

.form-create-ficha {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-create-ficha-partes {
  display: flex;
  justify-content: center;
}

.form-create-ficha-title {
  display: flex;
  justify-content: center;
}
