.fetch-ficha {
  display: flex;
  flex-direction: column;
}

.form-fetch-ficha {
  display: flex;
  flex-direction: column;
}

.form-fetch-ficha-minus-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-fetch-ficha-button {
  align-self: center;
}

.form-fetch-ficha-item{
  margin: 5px;
}

.form-fetch-ficha-select-modulos-capacita{
  min-width: 232px;
}

.form-fetch-ficha-select-genero{
  min-width: 115px;
}

.form-fetch-ficha-cpf{
  max-width: 160px;
}

.form-fetch-ficha-select-escolaridade{
  min-width: 185px;
}

.form-fetch-ficha-select-uf{
  min-width: 200px;
}

.form-fetch-ficha-select-atividade {
  min-width: 200px;
}

.form-fetch-ficha-email {
  min-width: 200px;
}

.form-fetch-ficha-contato {
  max-width: 200px;
}

.table-fetch-ficha {
  margin-top: 20px;
}

.form-fetch-ficha-nascimento {
  max-width: 260px;
}

.limpar-button {
  margin-left: 10px;
}

.button-ficha-description {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.modal-ficha {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-title {
  display: flex;
  justify-content: center;
}
