.form-search-client {
  display: flex;
  flex-direction: column;
}

.form-search-client-minus-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-search-client-button {
  align-self: center;
}

.form-search-client-select{
  min-width: 200px;
}
.form-search-client-select-genero{
  min-width: 100px;
}
.form-search-client-masked-input-cpf{
  max-width: 120px;
}
.form-search-client-select-escolaridade{
  min-width: 160px;
}
.form-search-client-select-uf{
  min-width: 170px;
}